@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap');

/* --------------------header styles starts*/

body{
    margin: 0;
    padding: 0;
}
.logo{
    width: 150px;
    height: auto;
}
.header{
    display: flex;
    justify-content: space-around;
    background-color: #0066FF;
    height: 600px;
}
.title{
    position: relative;
    top: 150px;
    left:220px; 
    bottom: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: x-large;
}
#ds{
    margin-bottom: 5px;
    margin-top: 5px;
    letter-spacing: 10px;
}
#sub{
    margin-bottom: 5px;
    margin-top: 5px; 
    font-size: large;
    text-align: center;
}
.nav ul{
    margin-right: 15px;
    margin-left: 0;
    padding: 0;
    position: absolute;
}
.nav li{
    display: inline-flex;
    padding: 5px;
    margin-left: 15px;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    left: 200px;
}
.navt{
    text-decoration: none;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}
.fa-fw{
    margin-right: 10px;
}
.wave{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #0066FF;
}
.dataimg{
    width: 500px;
    height: auto;
    position: relative;
    top: 330px;
}

/* --------------------header styles ends*/

/* ----------------content styles starts */
.container1{
    text-align: center;
    width: 400px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: white;
    border-radius: 15px;
    font-size: x-large;
    left: 150px;
    position: relative;
    padding: 25px;
    top: -150px;
    box-shadow: 0 3px 100px rgb(0 0 0 / 0.2);
}
#head{
    color: #0066FF;
}
#def{
    font-weight: 600;
    color: #0066FF;
}

.content2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: large;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    right: 200px;
    padding: 50px 0 50px;
    margin-left: 400px;
    border-radius: 15px;
    box-shadow: 0 3px 100px rgb(0 0 0 / 0.2);
}

.tochead{
    text-transform: capitalize;
    font-size: xx-large;
    position: relative;
    right: 20px;
    color: #0066FF;
}


.toc li{
    margin: 40px;
    text-align: right;
    margin: 20px;
    text-align: center;
    list-style: none;
    color: #0066FF;
    font-size: larger;
}


/* ----------------content styles starts */

/* ------------------container 2 styles starts*/

.container2{
    display: flex;
    position: relative;
    justify-content: space-between;
    top: 150px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: large;
}
.why{
    width: 350px;
    padding: 50px;
    background-color: white;
    box-shadow: 0 3px 100px rgb(0 0 0 / 0.2);
    margin-left: 20px;
    border-radius: 15px;
    text-align: center;
}
.whyp{
    color: #0066FF;
}
.how{
    width: 350px;
    padding: 50px;
    background-color: white;
    box-shadow: 0 3px 100px rgb(0 0 0 / 0.2);
    margin-right: 20px;
    border-radius: 15px;
    text-align: center;
}
.how li{
    text-decoration: none;
    list-style: circle;
    text-align: left;
}
.howp{
    text-align: center;
    color: #0066FF;
}
.howspan{
    text-align: center;
}

.con2img{
    position: relative;
    left: 450px;
    top: -340px;
}

/* ------------------container 2 styles ends */


/* --------------------container 2 buttons comes here */

.button{
    border-radius: 50px;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    text-decoration: none;
    background: linear-gradient(to right,#52A0FD,#00e2fa);
    color: white;
    position: relative;
    top: 15px;
    font-weight: bolder;
    transition: all 0.5s;
}
.button span{
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.button:hover span {
    padding-right: 25px;
}
  
.button:hover span:after {
    opacity: 1;
    right: 0;
}

.button1{
    border-radius: 50px;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    text-decoration: none;
    background: linear-gradient(to right,#52A0FD,#00e2fa);
    color: white;
    position: relative;
    top: 15px;
    font-weight: bolder;
    transition: all 0.5s;
}
.button1 span{
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button1 span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.button1:hover span {
    padding-right: 25px;
    
}
  
.button1:hover span:after {
    opacity: 1;
    right: 0;
  }
/* --------------------container 2 buttons comes here */

/* --------------------container 3 styles starts */

.container3{
    display: flex;
    position: relative;
    top: -300px;
    justify-content: space-evenly;
    font-family: 'Josefin Sans', sans-serif;
    font-size: large;
    text-align: center;
    
}

.domain{
    width: 300px;
    background-color: white;
    box-shadow: 0 3px 100px rgb(0 0 0 / 0.2);
    padding: 50px;
    border-radius: 15px;
}
.domain h3{
    color: #0066FF;
}

.math1{
    width: 300px;
    background-color: white;
    box-shadow: 0 3px 100px rgb(0 0 0 / 0.2);
    padding: 50px;
    border-radius: 15px;
}
.math1 h3{
    color: #0066FF;
}
/* --------------------container 3 styles ends */

/* -------------------------container 3 buttons */

.button2{
    border-radius: 50px;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
    text-decoration: none;
    background: linear-gradient(to right,#52A0FD,#00e2fa);
    color: white;
    position: relative;
    top: 15px;
    font-weight: bolder;
    transition: all 0.5s;
}
.button2 span{
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button2:hover span {
    padding-right: 25px;
}
  
  .button2:hover span:after {
    opacity: 1;
    right: 0;
}
/* -------------------------container 3 buttons */

/* -------------------container 4 styles starts */

.container4{
    display: flex;
    justify-content: space-around;
    font-family: 'Josefin Sans', sans-serif;
    font-size: large;
    text-align: center;
}
.computer{
    width: 350px;
    height: 600px;
    background-color: white;
    box-shadow: 0 3px 100px rgb(0 0 0 / 0.2);
    padding: 40px;
    border-radius: 15px;
}
.computer h3{
    color: #0066FF;
}

.computer ul{
    list-style-type: circle;
    text-align: left ;
}
.computer li{
    margin: 5px;
}
.communication{
    width: 300px;
    height: 430px;
    background-color: white;
    box-shadow: 0 3px 100px rgb(0 0 0 / 0.2);
    padding: 40px;
    border-radius: 15px;
}
.communication h3{
    color: #0066FF;
}
.learning{
    width: 310px;
    height: 300px;
    background-color: white;
    box-shadow: 0 3px 100px rgb(0 0 0 / 0.2);
    padding: 30px;
    border-radius: 15px;   
    text-align: center;
}
.learning h3{
    color: #0066FF;
}

/* -------------------container 4 styles ends  */

/* container 4 buttons comes here----------------- */
.button3{
    border-radius: 50px;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    text-decoration: none;
    background: linear-gradient(to right,#52A0FD,#00e2fa);
    color: white;
    position: relative;
    top: 15px;
    font-weight: bolder;
    transition: all 0.5s;
}
.button3 span{
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button3 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.button3:hover span {
    padding-right: 25px;
}
  
.button3:hover span:after {
    opacity: 1;
    right: 0;
}

.button4{
    border-radius: 50px;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
    text-decoration: none;
    background: linear-gradient(to right,#52A0FD,#00e2fa);
    color: white;
    position: relative;
    top: 15px;
    font-weight: bolder;
    transition: all 0.5s;
}
.button4 span{
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button4 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.button4:hover span {
    padding-right: 25px;
}
  
.button4:hover span:after {
    opacity: 1;
    right: 0;
}

.button5{
    border-radius: 50px;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
    text-decoration: none;
    background: linear-gradient(to right,#52A0FD,#00e2fa);
    color: white;
    position: relative;
    top: 15px;
    font-weight: bolder;
    transition: all 0.5s;
}
.button5 span{
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button5 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.button5:hover span {
    padding-right: 25px;
}
  
.button5:hover span:after {
    opacity: 1;
    right: 0;
}
/* container 4 buttons comes here----------------- */

/* roadmap div here------------------------------- */
.road{
    position: relative;
    background-image: url(thomas-griesbeck-BS-Uxe8wU5Y-unsplash.jpg);
    background-size: cover;
    padding: 50px;
    color: black;
    top: 150px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: x-large;
    text-align: center;
    background-blend-mode: darken;
}

/* roadmap div here------------------------------- */


/* container 5 styles starts here---------------------- */

.container5{
    display: flex;
    position: relative;
    justify-content: space-around;
    top: 300PX;
    font-family: 'Josefin Sans', sans-serif;
    font-size: large;
    text-align: center;
}
.container5 li{
    text-align: left;
}
.math2{
    width: 500px;
    background-color: white;
    box-shadow: 0 3px 100px rgb(0 0 0 / 0.2);
    padding: 30px;
    border-radius: 15px;
}
.math2 h3{
    color: #0066FF;
    text-align: center;
}
.math2 p{
    text-align: center;
}
.math2 li{
    list-style: circle;
    margin: 10px;
}
.probability{
    width: 500px;
    background-color: white;
    box-shadow: 0 3px 100px rgb(0 0 0 / 0.2);
    padding: 30px;
    border-radius: 15px;
    height: 550px;
}
.probability h3{
    color: #0066FF;
    text-align: center;
}
.probability p{
    text-align: center;
}
.probability li{
    list-style: circle;
    margin: 10px;
}
/* container 5 styles ends here-------------------------------- */


/* container 5 buttons comes here----------------------------*/

.button6{
    border-radius: 50px;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    text-decoration: none;
    background: linear-gradient(to right,#52A0FD,#00e2fa);
    color: white;
    position: relative;
    top: 55px;
    font-weight: bolder;
    transition: all 0.5s;
}
.button6 span{
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button6 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button6:hover span {
    padding-right: 25px;
}
  
  .button6:hover span:after {
    opacity: 1;
    right: 0;
}

.button7{
    border-radius: 50px;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    text-decoration: none;
    background: linear-gradient(to right,#52A0FD,#00e2fa);
    color: white;
    position: relative;
    top: 15px;
    font-weight: bolder;
    transition: all 0.5s;
}
.button7 span{
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button7 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button7:hover span {
    padding-right: 25px;
}
  
  .button7:hover span:after {
    opacity: 1;
    right: 0;
}

/* container 5 buttons comes here------------------------------ */


/* container 6 styles starts here-------------------- */

.container6{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 450px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: large;
    text-align: center;
}

.statistics{
    width: 500px;
    background-color: white;
    box-shadow: 0 3px 100px rgb(0 0 0 / 0.2);
    padding: 30px;
    border-radius: 15px;
    height: 780px;
}

.statistics li{
    list-style: circle;
    text-align: left;
    margin: 10px;
}
.statistics h3{
    color: #0066FF;
}

.program{
    width: 500px;
    background-color: white;
    box-shadow: 0 3px 100px rgb(0 0 0 / 0.2);
    padding: 30px;
    border-radius: 15px;
}

.program h3{
    color: #0066FF;
}
.program li{
    list-style: circle;
    text-align: left;
    margin: 10px;
}
/* container 6 styles ends here-------------------- */


/* container 6 buttons comes here----------------- */

.button8{
    border-radius: 50px;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
    text-decoration: none;
    background: linear-gradient(to right,#52A0FD,#00e2fa);
    color: white;
    position: relative;
    top: 15px;
    font-weight: bolder;
    transition: all 0.5s;
}
.button8 span{
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button8 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.button8:hover span {
    padding-right: 25px;
}
  
.button8:hover span:after {
    opacity: 1;
    right: 0;
}


.button9{
    border-radius: 50px;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
    text-decoration: none;
    background: linear-gradient(to right,#52A0FD,#00e2fa);
    color: white;
    position: relative;
    top: 30px;
    font-weight: bolder;
    transition: all 0.5s;
}

.button9 span{
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button9 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.button9:hover span {
    padding-right: 25px;
}
  
.button9:hover span:after {
    opacity: 1;
    right: 0;
}

/* container 6 buttons comes here----------------- */


/* container 7 styles starts here-------------- */

.container7{
    display: flex;
    position: relative;
    justify-content: space-around;
    top: 600px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: large;
    text-align: center;
}

.machine{
    width: 500px;
    background-color: white;
    box-shadow: 0 3px 100px rgb(0 0 0 / 0.2);
    padding: 30px;
    border-radius: 15px;
    height: 700px;
}
.machine h3{
    color: #0066FF;
}
.machine li{
    list-style: circle;
    text-align: left;
    margin: 10px;
}
.deep{
    width: 500px;
    background-color: white;
    box-shadow: 0 3px 100px rgb(0 0 0 / 0.2);
    padding: 30px;
    border-radius: 15px;
    
}
.deep h3{
    color: #0066FF;
    margin-top: 130px;
}
.deep li{
    list-style: circle;
    text-align: left;
    margin: 10px;
}
/* container 7 styles ends here-------------- */

/* container 7 button styles comes here------ */

.buttona{
    border-radius: 50px;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    text-decoration: none;
    background: linear-gradient(to right,#52A0FD,#00e2fa);
    color: white;
    position: relative;
    top: 20px;
    font-weight: bolder;
    transition: all 0.5s;
}
.buttona span{
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.buttona span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .buttona:hover span {
    padding-right: 25px;
}
  
  .buttona:hover span:after {
    opacity: 1;
    right: 0;
}


.buttonb{
    border-radius: 50px;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    text-decoration: none;
    background: linear-gradient(to right,#52A0FD,#00e2fa);
    color: white;
    position: relative;
    top: 70px;
    font-weight: bolder;
    transition: all 0.5s;
}

.buttonb span{
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.buttonb span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .buttonb:hover span {
    padding-right: 25px;
}
  
  .buttonb:hover span:after {
    opacity: 1;
    right: 0;
}
/* container 7 button styles comes here------ */

