@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap');

/* --------------------header styles starts*/

body{
    margin: 0;
    padding: 0;
}
.logo{
    width: 150px;
    height: auto;
}
.header{
    display: flex;
    justify-content: space-around;
    background-color: #0066FF;
    height: 600px;
}
.title{
    position: relative;
    top: 150px;
    left:200px;
    bottom: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: x-large;
}
#ds{
    margin-bottom: 5px;
    margin-top: 5px;
}
#sub{
    margin-bottom: 5px;
    margin-top: 5px; 
    font-size: large;
    text-align: center;
}
.nav ul{
    margin-right: 15px;
    margin-left: 0;
    padding: 0;
    position: absolute;
}
.nav li{
    display: inline-flex;
    padding: 5px;
    margin-left: 15px;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    left: 200px;
}
.navt{
    text-decoration: none;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}
.fa-fw{
    margin-right: 10px;
}
.wave{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #0066FF;
}
.dataimg{
    width: 500px;
    height: auto;
    position: relative;
    top: 330px;
}

/* --------------------header styles ends*/

/* ----------------content styles starts */
.container1{
    text-align: center;
    width: 400px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: white;
    border-radius: 15px;
    font-size: x-large;
    left: 150px;
    position: relative;
    padding: 25px;
    top: -150px;
    box-shadow: 0 3px 100px rgb(0 0 0 / 0.2);
}
#head{
    color: #0066FF;
}
#def{
    font-weight: 600;
    color: #0066FF;
}

.content2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: large;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    right: 200px;
    padding: 10px;
    right: 100px;
    margin-left: 400px;
    border-radius: 15px;
    box-shadow: 0 3px 100px rgb(0 0 0 / 0.2);
}

.tochead{
    text-transform: capitalize;
    font-size: xx-large;
    position: relative;
    right: 20px;
    color: #0066FF;
}


.toc li{
    list-style: none;
    margin: 40px;
    text-align: right;
    margin: 20px;
    text-align: center;
    list-style: none;
    color: #0066FF;
}
.toc a{
    text-decoration: none;
}

/* ----------------content styles starts */