@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap');

/* --------------------header styles starts*/

body{
    margin: 0;
    padding: 0;
    background-color: #0066FF;
}
.logo{
    width: 150px;
    height: auto;
}
.header{
    display: flex;
    justify-content: space-between;
}
.title{
    margin-top: 130px;
    margin-left: 250px;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}
#sub{
    margin-top: 5p;
    
}
.nav ul{
    margin-right: 15px;
    margin-left: 0;
    padding: 0;
    
}
.nav li{
    display: inline-flex;
    padding: 5px;
    margin-left: 15px;
    font-family: 'Josefin Sans', sans-serif;
}
.navt{
    text-decoration: none;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}
.fa-fw{
    margin-right: 10px;
}
.wave{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 750px;
}


/* --------------------header styles ends*/

/* ----------------content styles starts */

/* ----------------content styles starts */